.Row {
    height: calc(60vh - 81px);
  }
  .Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #006004;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }

  .Link:hover {
    color: #006004;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }

  .AlertGreen {
    color: black;
    background-color: #b8ffba;
    border: none;
  }

  .SignInAlert {
    margin-top: 20px;
  }
